{{> menu active="pin"}}

<section class="section">
    <div class="box box-link-hover-shadow">
        <div class="columns is-multiline is-mobile">
            <div class="column is-one-quarter">
                <h2 class="title">
                {{pin.name}}
                </h2>
            </div>
            <div class="column is-one-quarter">
                {{pin.category}}
            </div>
            <div class="column is-one-quarter">
                Longitude: {{pin.longitude}}
            </div>
            <div class="column is-one-quarter">
                Latitude: {{pin.lattitude}}
            </div>
            <div class="column">
                {{pin.county}}
            </div>
            <div class="column">
                {{pin.description}}
            </div>
        </div>    
    </div>
    {{> add-tags pin}}
    {{> add-category pin}}
</section>
