<h2 class="subtitle">All user pins</h2>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        Place
        <div style="float: right;">
          <a href="/admin/sortpins/name" class="button is-small">
            <i class="fas fa-filter fa-xs"></i>
          </a>
        </div>
      </th>
      <th>
        Category
        <div style="float: right;">
          <a href="/admin/sortpins/category" class="button is-small">
            <i class="fas fa-filter fa-xs"></i>
          </a>
        </div>
      </th>  
      <th>
        User id
        <div style="float: right;">
          <a href="/admin/sortpins/userid" class="button is-small">
            <i class="fas fa-filter fa-xs"></i>
          </a>
        </div>
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.pins}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{userid}}
        </td>
        <td>
          <a href="/pin/{{_id}}" class="button">
            <i class="fas fa-folder"></i>
          </a>
        </td>
        <td>
          <a href="/dashboard/deletepin/{{_id}}" class="button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
