<h2 class="subtitle">Users</h2>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        First name
        <div style="float: right;">
          <a href="/admin/sortusers/firstName" class="button is-small">
            <i class="fas fa-filter fa-xs"></i>
          </a>
        </div>
      </th>
      <th>
        Last name
        <div style="float: right;">
          <a href="/admin/sortusers/lastName" class="button is-small">
            <i class="fas fa-filter fa-xs"></i>
          </a>
        </div>
      </th>
      <th>
        Email
        <div style="float: right;">
          <a href="/admin/sortusers/email" class="button is-small">
            <i class="fas fa-filter fa-xs"></i>
          </a>
        </div>
      </th>
      <th>
        Created date
        <div style="float: right;">
          <a href="/admin/sortusers/createddate" class="button is-small">
            <i class="fas fa-filter fa-xs"></i>
          </a>
        </div>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.users}}
      <tr>
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
          {{createdAt}}
        </td>
        <td>
            <a href="/admin/removeuser/{{_id}}" class="button is-danger">
                Remove
            </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
