<div class="box box-link-hover-shadow">
  <div class="column">
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-half">
        <h2 class="title">
          {{name}}
        </h2>
      </div>
      <div class="column is-one-half">
        <p class="subtitle">
          {{category}}
        </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-third">
          {{county}}
      </div>
      <div class="column is-one-third">
          <b>Longitude:</b> 
          <br>
          {{longitude}}
      </div>
      <div class="column is-one-third">
          <b>Latitude:</b>
          <br>  
          {{lattitude}}
      </div>
    </div>
  </div>
  <div class="column">
      {{description}}
  </div>
</div>